<div class="update">
<div class="signup-form"></div>
<h2 class="Sign">Update Your Information</h2>
<form class="form1" action="/user/{{user.id}}/edit-user" method="POST">
   
    <input class="name" type="text"  id="name" name="name" value="{{user.name}}">
    <br>
    <input class="un" type="text"  id="email" name="email" value="{{user.email}}">
    <br>
   <select id="sign" class="horoscope" name="sign" value="{{user.sign}}">
     
  <option value="Aries">Aries (March 21-April 19)</option>
  <option value="Taurus">Taurus (April 20-May 20)</option>
  <option value="Gemini">Gemini (May 21-June 20)</option>
  <option value="Cancer">Cancer (June 21-July 22)</option>
    <option value="Leo">Leo (July 23-August 22)</option>
  <option value="Virgo">Virgo (August 23-September 22)</option>
  <option value="Libra">Libra (September 23-October 22)</option>
  <option value="Scorpio">Scorpio (October 23-November 21)</option>
    <option value="Sagittarius">Sagittarius (November 22-December 21)</option>
  <option value="Capricorn">Capricorn (December 22-January 19)</option>
  <option value="Aquarius">Aquarius (January 20-February 18)</option>
  <option value="Pisces">Pisces (February 19-March 20)</option>
</select>
<br>
   <button class="submit" type="submit">Update</button>
</form>
</div>
</div>