<div class ="main-title">

<video autoplay loop muted id="background-video">
        <source src="../videos/option-2-60fps.mp4" type="video/mp4">
 </video>

<div class ="main-title"></div>
 <h1>{{title}}</h1>
</div>


