
<form action="/log/create-log" method="POST">
<h1>Today's Entry</h1>
  <label>
      Date
    <input type="text" name="date"/>
  </label>
  <h3>What is your mood today?</h3>
  <input type="checkbox" id="mood" name="mood" value="loved">
  <label for="loved">Loved</label><br>
  <input type="checkbox" id="mood" name="mood" value="lonely">
  <label for="lonely">Lonely</label><br>
  <input type="checkbox" id="mood" name="mood" value="stressed">
  <label for="stressed"> Stressed</label><br>
  <input type="checkbox" id="mood" name="mood" value="weird">
  <label for="weird">Weird</label><br>
  <input type="checkbox" id="mood" name="mood" value="tired">
  <label for="tired">Tired</label><br>
  <input type="checkbox" id="mood" name="mood" value="thankful">
  <label for="thankful"> Thankful</label><br>
  <input type="checkbox" id="mood" name="mood" value="silly">
  <label for="silly">Silly</label><br>
  <input type="checkbox" id="mood" name="mood" value="sick">
  <label for="sick">Sick</label><br>
  <input type="checkbox" id="mood" name="mood" value="envious">
  <label for="envious"> Envious</label><br>
  <input type="checkbox" id="mood" name="mood" value="apathetic">
  <label for="apathetic">Apathetic</label><br>
  <input type="checkbox" id="mood" name="mood" value="confused">
  <label for="confused">Confused</label><br>
  <input type="checkbox" id="mood" name="mood" value="drunk">
  <label for="drunk"> Drunk</label><br>
  <input type="checkbox" id="mood" name="mood" value="flirty">
  <label for="flirty">Flirty</label><br>
  <input type="checkbox" id="mood" name="mood" value="enraged">
  <label for="enraged">Enraged</label><br>
  <input type="checkbox" id="mood" name="mood" value="exhausted">
  <label for="exhausted"> Exhausted</label><br>
  <input type="checkbox" id="mood" name="mood" value="hopeful">
  <label for="hopeful">Hopeful</label><br>
  <input type="checkbox" id="mood" name="mood" value="angry">
  <label for="angry">Angry</label><br>
  <input type="checkbox" id="mood" name="mood" value="ecstatic">
  <label for="ecstatic"> Ecstatic</label><br>
  <label>
    <h3>Journal</h3> <br>
    <textarea rows="15" cols ="75" name="content"></textarea>
  </label>

  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}